<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codertal.studybook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.authentication.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.loading.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleTop"
            android:theme="@style/MaterialDrawerTheme" />
        <activity
            android:name=".features.manage.classes.ClassesActivity"
            android:label="@string/title_activity_classes"
            android:parentActivityName=".features.dashboard.DashboardActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codertal.studybook.features.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".features.manage.classes.editaddclass.EditAddClassActivity"
            android:label="@string/title_activity_edit_add_class"
            android:parentActivityName=".features.manage.classes.ClassesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codertal.studybook.features.manage.classes.ClassesActivity" />
        </activity>
        <activity
            android:name=".features.manage.teachers.TeachersActivity"
            android:label="@string/title_activity_teachers"
            android:parentActivityName=".features.dashboard.DashboardActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codertal.studybook.features.dashboard.DashboardActivity" />
        </activity>
    </application>

</manifest>